<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <img class="card-img-top" src="images/logo.png" alt="Logo">
        <div class="card-block">
          <p class="card-text">In the distant future everybody has a spaceship. Fly around and shoot other ships and collect bounties or conduct
            peaceful mining and trade operations.</p>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="card-group">
              <div class="card">
                <div class="card-header">
                  Movement
                </div>
                <div class="card-block">
                  <p class="card-text">Your ship can move forward or turn. When a command is entered, there is a delay while your mighty engines
                    turn the ship. If you issue another command, your previous order will be cancelled. To move forward press
                    'w' or 8 on your keypad (toggle your number lock). To turn press 'q' or 'e' or 7 or 9 on your keypad.
                    You can also use the buttons on the screen.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Combat
                </div>
                <div class="card-block">
                  <p class="card-text">If an enemy comes into range, fire away! It normally takes about ten hits to destroy an enemy but some
                    ships have stronger hulls or weapons. Some weapons have longer range than others. To fire, press the
                    spacebar.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Mining
                </div>
                <div class="card-block">
                  <p class="card-text">When occupying the same tile as an asteroid, press the Mine button on your screen. You will extract valuable
                    minerals from the asteroid and earn points. Asteroids have a limited amount of minerals available.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="card-group">
              <div class="card">
                <div class="card-header">
                  Trade
                </div>
                <div class="card-block">
                  <p class="card-text">When occupying the same tile as a planet, press the Trade button on your screen. You will either pick up cargo or sell
        what you've got. You earn more points the farther you carry your cargo.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Bounties
                </div>
                <div class="card-block">
                  <p class="card-text">Ships that attack peaceful traders will gain bounties that other ships can then collect by bringing the pirates to
        justice (grim space justice).</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Upgrades
                </div>
                <div class="card-block">
                  <p class="card-text">You can improve your ship in the shipyard by spending the points you've earned.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="card-group">
              <div class="card">
                <div class="card-header">
                  AI Ships
                </div>
                <div class="card-block">
                  <p class="card-text">There are some AI ships flying around. The more players in the game, the more active the AI ships will be.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Scores
                </div>
                <div class="card-block">
                  <p class="card-text">Something to brag about</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Admin
                </div>
                <div class="card-block">
                  <p class="card-text">Everything in Angle of Attack is parameterized and can be controlled from the admin panel. Some settings could cause
        problems for the game, such as adding 9999999999 planets so making changes is off limits for players.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="card-group">
              <div class="card">
                <div class="card-header">
                  Technology
                </div>
                <div class="card-block">
                  <p class="card-text">We used Angular 2 RC1, RxJS 5.0.0-beta.6, angular-cli and Bootstrap 4.0.0-alpha.2.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Other Stuff
                </div>
                <div class="card-block">
                  <p class="card-text">Images come from <a href="http://www.clipartlord.com/" target="_blank">http://www.clipartlord.com</a>. Background comes
        from <a href="http://www.desktopwallpapers4.me/" target="_blank">http://www.desktopwallpapers4.me</a>. Logo was generated
        at <a href="https://www.tailorbrands.com" target="_blank">https://www.tailorbrands.com</a>.</p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Get Started!
                </div>
                <div class="card-block">
                  <p class="card-text">Log in with github or twitterand blast off!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>