<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div><img src="images/logo.png"></div>
      <h3>Angle of Attack</h3>
      <p>In the distant future everybody has a spaceship. Fly around and shoot other ships and collect bounties or conduct peaceful mining and trade operations.</p>
      <h3>Movement</h3>
      <p>Your ship can move forward or turn. When a command is entered, there is a delay while your mighty engines turn the ship. If you issue another command, your previous order will be cancelled. To move forward press 'w' or 8 on your keypad (toggle your number lock). To turn press 'q' or 'e' or 7 or 9 on your keypad. You can also use the buttons on the screen.</p>
      <h3>Combat</h3>
      <p>If an enemy comes into range, fire away! It normally takes about ten hits to destroy an enemy but some ships have stronger hulls or weapons. Some weapons have longer range than others. To fire, press the spacebar.</p>
      <h3>Mining</h3>
      <p>When occupying the same tile as an asteroid, press the 
    </div>
  </div>
</div>
